@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Satoshi" ;
    src: url('./fonts/Satoshi.woff2')format('woff2');
}

@font-face {
    font-family: Nue;
    src: url('../public/Fonts/Nue.otf')format('opentype');
}